<footer class="footer">
    <h1>Thank You For Visiting!</h1>
    <h2> We hope you found a new friend.</h2>
    <h3>© 2024 WoofsAndWhiskers. All rights reserved.</h3>
    <h3><a href="/privacystatement">Privacy/Disclaimer Statement</a></h3>
    <p><a href="https://www.freepik.com/free-vector/flat-design-dog-cat-silhouette_40124424.html">Logo image source</a></p>
</footer>
</body>
</html>
