<%- include('partials/header', { title: 'ContactUs' }) %>
<div class="bodycontactus">
<nav class="navbar">
    <ul class="navelements">
      <li><a href="/">Home</a></li>
      <li><a href="/browsepets">Browse Available Pets</a></li>
      <li><a href="/find">Find a Dog/Cat</a></li>
      <li><a href="/dogcare">Dog Care</a></li>
      <li><a href="/catcare">Cat Care</a></li>
      <li><a href="/petstogiveaway">Have a Pet to Give Away</a></li>
      <li><a href="/contactus">Contact Us</a></li>
      <li><a class="active" href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>


    <div class="contactus">
        <h1 class="cul">Contact Us:</h1>
        <h2>Name: Apoorva Bhardwaj</h2>
        <h2>Student ID: 40286258</h2>
        <h2>Email: ap_bhard@live.concordia.ca</h2>
    </div>
</div>

<%- include('partials/footer') %>
