<%- include('partials/header', { title: 'Home' }) %>
<div class="bodyindex">
<nav class="navbar">
    <ul class="navelements">
      <li><a href="/">Home</a></li>
      <li><a href="/browsepets">Browse Available Pets</a></li>
      <li><a href="/find">Find a Dog/Cat</a></li>
      <li><a href="/dogcare">Dog Care</a></li>
      <li><a href="/catcare">Cat Care</a></li>
      <li><a href="/petstogiveaway">Have a Pet to Give Away</a></li>
      <li><a href="/contactus">Contact Us</a></li>
      <li><a class="active" href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>

<div class="main">
    <h1>Welcome to WoofsAndWhiskers!</h1>
    <h2>Be A New Home For A New Best Friend</h2>
    <p>
        At Woofs and Whiskers, we're passionate about connecting loving pet owners with their perfect companions. Whether you're looking to adopt a new 
        furry friend or seeking resources to care for your current pet, you've come to the right place. Our mission is to facilitate meaningful connections between pets and their 
        forever homes. We believe every pet deserves a loving environment where they can thrive and be cherished as a valued member of the family.
    </p>

    <img src="/Images/Dog-and-kitten.jpg" id="dogkitten" alt="Dog and Kitten"><br>
    <a href="https://windermerevetservices.com/2021/05/24/cat-vs-dog-which-pet-is-best-for-me/">Picture Source</a>
</div>
</div>
<%- include('partials/footer') %>
