<%- include('partials/header', { title: 'Privacy Statement' }) %>
<div class="bodyprivacy">
<nav class="navbar" id="navbarprivacy">
    <ul class="navelements">
      <li><a href="/">Home</a></li>
      <li><a href="/browsepets">Browse Available Pets</a></li>
      <li><a href="/find">Find a Dog/Cat</a></li>
      <li><a href="/dogcare">Dog Care</a></li>
      <li><a href="/catcare">Cat Care</a></li>
      <li><a href="/petstogiveaway">Have a Pet to Give Away</a></li>
      <li><a href="/contactus">Contact Us</a></li>
      <li><a class="active" href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>

<div class="privacytext">
    <h1>Privacy Policy:</h1>
    <p>
        At WoofsAndWhiskers, we respect your privacy and are committed to protecting any information you provide to us. Any personal information you provide, such as your 
        name, email address, or phone number, will not be sold, rented, or disclosed to any third party without your consent. We may use your contact information to send
        you updates about our services or promotions, but you can opt out of these communications at any time.
    </p>

    <h1>Disclaimer</h1>
    <p>
        While we strive to provide accurate and up-to-date information on our website, WoofsAndWhiskers cannot guarantee the completeness, accuracy, or reliability of the 
        information provided. Any reliance you place on such information is therefore strictly at your own risk. We are not liable for any errors or omissions in the content.
    </p>

    <h1>User-Generated Content:</h1>
    <p>
        WoofsAndWhiskers may include user-generated content, such as pet listings or comments, which are submitted by users. We do not endorse or verify the accuracy of this 
        content and are not responsible for any misinformation or incorrect details provided by users. Users are solely responsible for the accuracy and legality of their 
        submissions.
    </p>

    <h1>Changes to Policy:</h1>
    <p>
        WoofsAndWhiskers reserves the right to update or change this Privacy/Disclaimer Statement at any time. Any changes will be effective immediately upon posting on this page.
    </p>
  
    <p><i>Privacy statement generated with the help of ChatGPT</i></p>
</div>
</div>

<%- include('partials/footer') %>
